body {
  background-color: #01579b;
  color: #ffffff;
}

nav.navbar {
  background-color: #002f6c !important;
  color: #ffffff; 
}
.navbar-light .navbar-brand, .navbar-light .navbar-brand:hover {
  color: #ffffff;
}

.card, .list-group {
  color: #000000;
}

.card-header, .card-header a {
  background-color: #002f6c;
  color: #ffffff;
}

.row {
  margin-bottom: 15px;
}

.unit {
  padding-bottom: 10px;
}